body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    font-size: 20px;
}

header button {
    height: 40px;
    width: 45px;
    background-color: #545454;
    border: 1px solid #000;
    color: #fff;
}
header button hr {
    border: 1px solid #918e8e;
}

#logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#carousel img {
    width: 100%;
    height: auto;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

#about {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#about h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (min-width: 993px) {
    header nav button {
        display: none;
    }

    header nav ul {
        display: flex;
    }

    #carousel {
        text-align: center;
        display: flex;
    }
    #carousel div.carousel-container {
        overflow: scroll;
    }

    #carousel div ul {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    #carousel div ul li {
        width: 1500px;
        height: 300px;
        overflow: hidden;
        background-image: url('banner.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #carousel div ul li:nth-child(2) {
        background-image: url('item.webp');
    }

    #carousel div ul li:nth-child(3) {
        background-image: url('banner.webp');
    }
}