body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    font-size: 20px;
}

header nav button {
    height: 40px;
    width: 45px;
    background-color: #545454;
    border: 1px solid #000;
    color: #fff;
}
header nav button::before {
    content: "";
    position: absolute;
    top: 32%;
    left: 28%;
    width: 20px;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 6px 0 #fff, 0 12px 0 #fff;
    transition: transform 0.3s;
}
header nav button.botao-aberto::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 26%;
    width: 20px;
    height: 20px;
    background-color: unset;
    box-shadow: unset;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(314deg);
}

#logo img {
    height: 50px;
}

header nav{
    position: relative;
}

header nav ul#menu {
    list-style: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    background: #333;
    width: 200px;
    padding: 5px;
    right: -20px;
    transition: opacity 0.5s;
}
header nav ul.menu-aberto{
    visibility: visible!important;
    opacity: 1!important;
}

header nav ul#menu li {
    margin: 15px;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
}
header nav ul#menu li:last-child {
    border-bottom: 0px;
}
header nav ul#menu li a {
    color: white;
    text-decoration: none;
}
header nav ul#menu li a.ativo {
    font-weight: bold;
    text-decoration: underline;
}

main section#forms{
    padding: 2vw;
}

#carrossel img {
    width: 100%;
    height: auto;
    /* object-fit: cover;
    object-position: center; */
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

#about {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#about h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

#carrossel {
    display: flex;
    position: relative;
}
#carrossel div.carrossel-container {
    overflow: hidden;
    scroll-behavior: smooth;
}
#carrossel div ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#carrossel div ul li {
    width: 992px;
    height: 150px;
}
#carrossel .carrossel-button{
    background-color: transparent;
    border: 0px;
    position: absolute;
    height: 100%;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
}
#carrossel #carrossel-anterior{
    left: 0px;
}
#carrossel #carrossel-proximo{
    right: 0px;
}

#about p {
    text-align: left;
}


@media (min-width: 993px) {
    header nav button {
        display: none;
    }

    header nav ul {
        display: flex;
    }
    
    #carrossel div ul li {
        height: 300px;
    }
    
    header nav .menu-aberto{
        display: flex!important;
        visibility: unset!important;
        opacity: 1;
    }
    header nav ul#menu {
        display: flex;
        visibility: unset;
        position: unset;
        z-index: unset;
        background: unset;
        width: unset;
        padding: unset;
        right: unset;
        opacity: 1;
    }
    header nav ul#menu li {
        margin: unset;
        border-bottom: unset;
        padding-left: 10px;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
    }
}