
#carrossel {
    display: flex;
    position: relative;
}
#carrossel div.carrossel-container {
    overflow: hidden;
    scroll-behavior: smooth;
}
#carrossel div ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#carrossel div ul li {
    width: 992px;
    height: 150px;
}
#carrossel .carrossel-button{
    background-color: transparent;
    border: 0px;
    position: absolute;
    height: 100%;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
}
#carrossel #carrossel-anterior{
    left: 0px;
}
#carrossel #carrossel-proximo{
    right: 0px;
}