#modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
#modal .background{
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#modal .modal-main{
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    position: fixed;
    background-color: #fff;
    min-width: 400px;
    min-height: 400px;
    z-index: 999;
    padding: 10px;
    text-align: center;
}
#modal .modal-main .content {
    width: 100%;
    position: relative;
}
#modal .modal-main .content .fechar {
    position: absolute;
    border: 1px solid #000;
    background-color: #b42c2c;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 0;
    right: 0;
    margin-top: -45px;
    margin-right: -20px;
    cursor: pointer;
}
#modal .modal-main .content form {
    text-align: left;
}
#modal .modal-main .content form label {
    display: inline-block;
    width: 80px;
}
