{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "esmodules": false,
            "ie": "11"
          }
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-transform-arrow-functions",
      "@babel/plugin-transform-block-scoping"
    ]
  }
  