#estudo {
    margin: 10px;
}
#estudo table {
    width: 100%;
    margin: 0px;
    margin-bottom: 100px;
}
#estudo table td {
    border: 1px solid #000;
    width: 100px;
    height:40px;
    text-align: center;
    margin: 0px;
}









#estudo #estrutura-float{
    width: 100%;
    margin-bottom: 100px;
}
#estudo #estrutura-float #header div{
    border: 1px solid #000;
    float: left;
    width: 45%;
    text-align: center;
    padding: 10px;
}
#estudo #estrutura-float #header div.col-login{
    width: 10%;
    text-align: right;
}

#estudo #estrutura-float #banner {
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#estudo #estrutura-float #conteudo {
    width: 100%;
}

#estudo #estrutura-float #conteudo div{
    float: left;
    width: 80%;
    border: 1px solid #000;
}
#estudo #estrutura-float #conteudo div#publi{
    width: 20%;
}

#estudo #estrutura-float #footer{
    clear: both;
    width: 100%;
    border: 1px solid #000;
}







#estudo #estrutura-inline-block{
    width: 100%;
    margin-bottom: 100px;
}

#estudo #estrutura-inline-block #header div{
    border: 1px solid #000;
    display: inline-block;
    width: 45%;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
#estudo #estrutura-inline-block #header div.col-login{
    width: 9.3%;
}
#estudo #estrutura-inline-block #banner,
#estudo #estrutura-inline-block #footer{
    border: 1px solid #000;
    text-align: center;
    display: block;
}
#estudo #estrutura-inline-block #conteudo div{
    border: 1px solid #000;
    display: inline-block;
    width: 80%;
}
#estudo #estrutura-inline-block #conteudo div#publi{
    width: 19%;
}






#estudo #estrutura-flexbox{
    margin-bottom: 100px;
}

#estudo #estrutura-flexbox #header{
    display: flex;
    flex-direction: row; /* row, row-reverse, column, column-reverse */
    flex-wrap: wrap; /* nowrap, wrap, wrap-reverse */
    justify-content: space-between; /* flex-start, flex-end, center, space-between, space-around, space-evenly */
    align-items: stretch; /* stretch, flex-start, flex-end, center, baseline */
}
#estudo #estrutura-flexbox #header div{
    border: 1px solid #000;
    width: 46%;
    text-align: center;
    padding: 10px;
}
#estudo #estrutura-flexbox #header div:nth-child(1){
    order: 1;
}

#estudo #estrutura-flexbox #header div:nth-child(2){
    order: 2;
}
#estudo #estrutura-flexbox #header div:nth-child(3){
    width: 100px;
    order: 3;
}
#estudo #estrutura-flexbox #banner,
#estudo #estrutura-flexbox #footer
{
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    padding: 10px;
}
#estudo #estrutura-flexbox #conteudo{
    display: flex;
    justify-content: space-between; /* flex-start, flex-end, center, space-between, space-around, space-evenly */
}
#estudo #estrutura-flexbox #conteudo div{
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
}
#estudo #estrutura-flexbox #conteudo div:nth-child(1){
    width: 80%;
}

#estudo #estrutura-flexbox #conteudo div:nth-child(2){
    width: 20%;
}



#estudo #estrutura-grid #logo{
    grid-area: logo;
}
#estudo #estrutura-grid #menu{
    grid-area: menu;
}
#estudo #estrutura-grid #login{
    grid-area: login;
}
#estudo #estrutura-grid #banner{
    grid-area: banner;
    height: 100px;
}
#estudo #estrutura-grid #conteudo{
    grid-area: conteudo;
    height: 400px;
}
#estudo #estrutura-grid #publi{
    grid-area: publi;
}
#estudo #estrutura-grid #footer{
    grid-area: footer;
}

#estudo #estrutura-grid #header{
    display: grid;
    grid-template-areas: 
        "logo menu menu menu menu login"
        "banner banner banner banner banner banner"
        "conteudo conteudo conteudo conteudo publi publi"
        "footer footer footer footer footer footer";

    /*justify-items: stretch; /* start, end, center, stretch  -- Colunas*/
    /*align-items: center; /* start, end, center, stretch -- linhas */
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    #estudo #estrutura-grid #header{
        display: grid;
        grid-template-areas: 
            "logo menu menu"
            "login login login"
            "banner banner banner"
            "publi publi publi"
            "conteudo conteudo conteudo"
            "footer footer footer";
    }
}
  
/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 992px) {
    #estudo #estrutura-grid #header{
        display: grid;
        grid-template-areas: 
            "logo menu menu menu menu menu"
            "login login login login login login"
            "banner banner banner banner banner banner"
            "conteudo conteudo conteudo conteudo publi publi"
            "footer footer footer footer footer footer";
    }
}
  
/* Estilos para desktops */
/* @media (min-width: 993px) {
    #estudo #estrutura-grid #header{
        display: grid;
        grid-template-areas: 
            "logo menu menu menu menu login"
            "banner banner banner banner banner banner"
            "conteudo conteudo conteudo conteudo publi publi"
            "footer footer footer footer footer footer";
    }
} */
  
#estudo #estrutura-grid #header div{
    border: 1px solid #000;
    /* width: 46%; */
    text-align: center;
    padding: 10px;
}



/*
@media (min-width: 768px) { -- de 768px para baixo 
    #estudo table {
        display: none;
    }
}
@media (min-width: 40000px) { -- de 768px para baixo 
    #estudo table {
        display: none;
    }
}
@media print { -- serve somente para impressao 
    #estudo table {
        display: none;
    }
}
*/

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    #estudo table {
        background-color: blue;
        color: #fff;
    }
    #estudo table.desktop {
        display: none;
    }
    #estudo table.mobile {
        display: table;
    }
}
  
/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 992px) {
    #estudo table {
        background-color: yellow;
    }
    #estudo table.desktop {
        display: none;
    }
    #estudo table.mobile {
        display: table;
    }
}
  
/* Estilos para desktops */
@media (min-width: 993px) {
    #estudo table {
        background-color: #cfcfcf;
    }
    #estudo table.desktop {
        display: table;
    }
    #estudo table.mobile {
        display: none;
    }
}
  





body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
